
body {
  color: #333;
  font: 1rem sans-serif;
  padding: 0;
  margin: 0 auto;
  min-width: 40rem;
  /* max-width: 100rem; */
}

article,
footer {
  margin: 1rem;
}

#mapid { height: 720px; }

#overlay a {
  background: #fff;
  border: 1px solid #aaa;
  position: absolute;
  left: 3.6rem;
  top: 18px;
  x-height: 2rem; x-width: 7rem;
  padding: 5px 3px;
  z-index: 999;
}

#summary {
  margin: 1rem;
}
.hide,
#summary hr {
  display: none;
}
#summary h1 {
  font-weight: normal;
  text-align: center;
}

footer {
  border-top: 6px solid #ccc;
  margin: 2rem 1rem 1rem;
  padding-top: 1rem;
}

.loading,
.error {
  font-size: 2.2rem;
  text-align: center;
  margin: 5rem 0;
}
.error { color: red; }

a > img,
p > img {
  border: 3px solid #ccc;
  border-radius: .5rem;
  display: block;
  margin: 1rem auto;
  max-width: 580px;
  width: 95%;
}

table {
  background: #e8e8e8;
  border-spacing: 0;
  font-size: small;
  min-width: 40rem;
}
table th {
  text-align: left;
}
table th,
table td {
  border: 1px solid #ddd;
  padding: .4rem;
}

pre {
  font-size: x-small;
}

/* Unused */
dl {
  line-height: 1rem;
  list-style-type: disc;
  padding-left: 40px;
}
dl > dt {
  display: list-item;
  width: 6rem;
}
dl > dd {
  display: inline-block;
  height: 1px;
  position: relative;
  margin-inline-start: 0;
  padding: 0;
  top: -1.5rem;
  left: 7rem;
  width: 20rem;
}
